<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My AI DOCTOR</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-6 ">
                <a href="doctor-auth">
                <div style="width:200px; height:200px; border: 5px solid black;">
                <img src="{{ url_for('static', filename='images/preventive-health-care.gif') }}" style="width:inherit; height: 180px;" alt="My Logo">
                </a>
            </div>
                
                
            </div>
            <div class="col-6">
                <a href="patient-auth">
                <div style="width:200px; height:200px; border: 5px solid black;">
                <img src="{{ url_for('static', filename='images/men-face-winkling.gif') }}" style="width:inherit; height: 180px;" alt="My Logo">
                </a>
            </div>
                
                
            </div>
        </div>
    </div>

</body>
</html>