<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <td><b>Name : </b> {{patient_name}}</td>
            <td><b>Age : </b> {{age}}</td>
        </tr>
        <tr>
            <td><b>Sex : </b> {{sex}}</td>
            <td><b>Weight : </b>{{weight}}</td>
        </tr>
        <tr>
            <td><b>Blood Group : </b> {{blood_group}}</td>
            <td><b>Mobile No : </b> {{tel}}</td>
        </tr>
        <tr>
            <td><b>Symptoms : </b></td>
            <td>{{symptoms}}</td>
        </tr>
        <tr>
            <td><b>Diseases: </b></td>
            <td>{{diseases}}</td>
        </tr>
        <tr>
            <td><b>About Diseases :</b></td>
            <td>hchzjk</td>
        </tr>
        <tr>
            <td></td>
            <td><b>Doctor Name : {{doctor_name}}</b></td>
        </tr>
    </table>
</body>
</html>